In [1]:
import pandas as pd

### Carbon monoxide (CO)

In [2]:
aqs_co = pd.read_csv('./data/Air_Quality_Data_Seattle_CO.csv')

In [3]:
import re

_underscorer1 = re.compile(r'(.)([A-Z][a-z]+)')
_underscorer2 = re.compile('([a-z0-9])([A-Z])')

def camelToSnake(s):
    subbed = _underscorer1.sub(r'\1_\2', s)
    return _underscorer2.sub(r'\1_\2', subbed).lower()

In [4]:
aqs_co.columns = aqs_co.columns.map(lambda x: camelToSnake(x))
aqs_co.head(3)

,date,aqs_site_id,poc,daily _max 8-hour co _concentration,units,daily_aqi_value,daily_obs_count,percent_complete,aqs_parameter_code,aqs_parameter_desc,cbsa_code,cbsa_name,state_code,state,county_code,county,site_latitude,site_longitude
0,01/01/2016,530330030,1,1.1,ppm,13,19,79.0,42101,Carbon monoxide,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.597222,-122.319722
1,01/02/2016,530330030,1,1.3,ppm,15,24,100.0,42101,Carbon monoxide,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.597222,-122.319722
2,01/03/2016,530330030,1,1.0,ppm,11,24,100.0,42101,Carbon monoxide,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.597222,-122.319722

In [5]:
aqs_co.date = pd.to_datetime(aqs_co.date)
aqs_co['day_year'] = aqs_co.date.dt.dayofyear
aqs_co.columns

Index(['date', 'aqs_site_id', 'poc', 'daily _max 8-hour co _concentration',
       'units', 'daily_aqi_value', 'daily_obs_count', 'percent_complete',
       'aqs_parameter_code', 'aqs_parameter_desc', 'cbsa_code', 'cbsa_name',
       'state_code', 'state', 'county_code', 'county', 'site_latitude',
       'site_longitude', 'day_year'],
      dtype='object')

In [6]:
aqs_co = aqs_co[['day_year', 'daily _max 8-hour co _concentration']]
aqs_co.columns = ['day_year', 'co']
aqs_co['co'] = aqs_co.co * 1000 * 1.145  # CO: 1 ppb = 1.145 Î¼g/m3

In [7]:
aqs_co.shape

(652, 2)

In [8]:
aqs_co = aqs_co.groupby('day_year')['co'].mean()
aqs_co = aqs_co.reset_index(level=['day_year'])

### Nitrogen dioxide (NO<sub>2</sub>)

In [9]:
aqs_no = pd.read_csv('./data/Air_Quality_Data_Seattle_NO.csv')
aqs_no.columns = aqs_no.columns.map(lambda x: camelToSnake(x))
aqs_no.head(3)

,date,aqs_site_id,poc,daily _max 1-hour no2 _concentration,units,daily_aqi_value,daily_obs_count,percent_complete,aqs_parameter_code,aqs_parameter_desc,cbsa_code,cbsa_name,state_code,state,county_code,county,site_latitude,site_longitude
0,01/01/2016,530330030,1,48.6,ppb,45,24,100.0,42602,Nitrogen dioxide (NO2),42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.597222,-122.319722
1,01/02/2016,530330030,1,42.1,ppb,40,24,100.0,42602,Nitrogen dioxide (NO2),42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.597222,-122.319722
2,01/03/2016,530330030,1,40.4,ppb,38,24,100.0,42602,Nitrogen dioxide (NO2),42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.597222,-122.319722

In [10]:
aqs_no.date = pd.to_datetime(aqs_no.date)
aqs_no['day_year'] = aqs_no.date.dt.dayofyear
aqs_no = aqs_no[['day_year', 'daily _max 1-hour no2 _concentration']]
aqs_no.columns = ['day_year', 'no2']
aqs_no['no2'] = aqs_no.no2 * 1.88  # NO2: 1 ppb = 1.88 Î¼g/m3

In [11]:
aqs_no.shape

(1004, 2)

In [12]:
aqs_no = aqs_no.groupby('day_year')['no2'].mean()
aqs_no = aqs_no.reset_index(level=['day_year'])

### Ozone (O<sub>3</sub>)

In [13]:
aqs_oz = pd.read_csv('./data/Air_Quality_Data_Seattle_Ozone.csv')
aqs_oz.columns = aqs_oz.columns.map(lambda x: camelToSnake(x))
aqs_oz.head(3)

,date,aqs_site_id,poc,daily _max 8-hour _ozone _concentration,units,daily_aqi_value,daily_obs_count,percent_complete,aqs_parameter_code,aqs_parameter_desc,cbsa_code,cbsa_name,state_code,state,county_code,county,site_latitude,site_longitude
0,05/01/2016,530330010,1,0.041,ppm,38,17,100.0,44201,Ozone,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.5525,-122.064722
1,05/02/2016,530330010,1,0.046,ppm,43,17,100.0,44201,Ozone,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.5525,-122.064722
2,05/03/2016,530330010,1,0.046,ppm,43,17,100.0,44201,Ozone,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.5525,-122.064722

In [14]:
aqs_oz.date = pd.to_datetime(aqs_oz.date)
aqs_oz['day_year'] = aqs_oz.date.dt.dayofyear
aqs_oz = aqs_oz[['day_year', 'daily _max 8-hour _ozone _concentration']]
aqs_oz.columns = ['day_year', 'o3']
aqs_oz['o3'] = aqs_oz.o3 * 1000 * 2  # O3: 1 ppb = 2.00 Î¼g/m3

In [15]:
aqs_oz.shape

(1106, 2)

In [16]:
aqs_oz = aqs_oz.groupby('day_year')['o3'].mean()
aqs_oz = aqs_oz.reset_index(level=['day_year'])

### Particulate matter (PM<sub>2.5</sub>)

In [17]:
aqs_pm = pd.read_csv('./data/Air_Quality_Data_Seattle_PM2.5.csv')
aqs_pm.columns = aqs_pm.columns.map(lambda x: camelToSnake(x))
aqs_pm.head(3)

,date,aqs_site_id,poc,daily _mean pm2.5 _concentration,units,daily_aqi_value,daily_obs_count,percent_complete,aqs_parameter_code,aqs_parameter_desc,cbsa_code,cbsa_name,state_code,state,county_code,county,site_latitude,site_longitude
0,01/01/2016,530330017,4,1.5,ug/m3 LC,6,1,100.0,88502,Acceptable PM2.5 AQI & Speciation Mass,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.49022,-121.77278
1,01/02/2016,530330017,4,2.3,ug/m3 LC,10,1,100.0,88502,Acceptable PM2.5 AQI & Speciation Mass,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.49022,-121.77278
2,01/03/2016,530330017,4,2.2,ug/m3 LC,9,1,100.0,88502,Acceptable PM2.5 AQI & Speciation Mass,42660,"Seattle-Tacoma-Bellevue, WA",53,Washington,33,King,47.49022,-121.77278

In [18]:
aqs_pm.date = pd.to_datetime(aqs_pm.date)
aqs_pm['day_year'] = aqs_pm.date.dt.dayofyear
aqs_pm = aqs_pm[['day_year', 'daily _mean pm2.5 _concentration']]
aqs_pm.columns = ['day_year', 'pm2_5']

In [19]:
aqs_pm.shape

(6031, 2)

In [20]:
aqs_pm = aqs_pm.groupby('day_year')['pm2_5'].mean()
aqs_pm = aqs_pm.reset_index(level=['day_year'])

### CombinaciÃ³n de las 4 variables

In [21]:
aqs_co.day_year.unique().size

365

In [22]:
aqs_no.day_year.unique().size

366

In [23]:
aqs_pm.day_year.unique().size

366

In [24]:
aqs_oz.day_year.unique().size

365

In [25]:
aqs_co_no = pd.merge(aqs_no, aqs_co, on='day_year', how='left')

In [26]:
aqs_co_no_pm = pd.merge(aqs_co_no, aqs_pm, on='day_year', how='left')

In [27]:
aqs_co_no_pm_oz = pd.merge(aqs_co_no_pm, aqs_oz, on='day_year', how='left')

In [28]:
aqs_co_no_pm_oz.head()

   day_year        no2       co      pm2_5    o3
0         1  75.262667   858.75  26.685000  61.0
1         2  71.001333  1030.50  19.875000  83.0
2         3  72.568000   801.50  14.281250  62.0
3         4  64.860000   629.75  11.047368  49.0
4         5  70.938667  1030.50  14.912500  45.0

In [29]:
aqs_co_no_pm_oz.shape

(366, 5)

In [38]:
aqs_co_no_pm_oz.isnull().sum()

day_year    0
no2         0
co          0
pm2_5       0
o3          0
dtype: int64

In [37]:
aqs_co_no_pm_oz.fillna(method='ffill', inplace=True)

In [39]:
aqs_co_no_pm_oz.to_csv('./data/Air_Quality_Data_Seattle_2016.csv', index=False)