In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
% matplotlib inline

In [2]:
# Creo un dataframe con los eventos que he encontrado en internet
e = {'Event': ["IT Summit", "Seattle Capitol Hill Block party", "Aerospace Summit", "Aerospace Summit", "Pass Summit", "Pass Summit",
              "Pass Summit", "Pass Summit", "Pass Summit", "Cider Summit", "Cider Summit"], 
     'start_time': ["21-09-2016", "22-07-2016", "14-04-2016", "15-04-2016", "24-10-2016", "25-10-2016", "26-10-2016", "27-10-2016",
                   "28-10-2016", "09-09-2016", "09-10-2016"],
     'Latitude': ["47.611823", "47.6141446", "47.6115429", "47.6115429", "47.6115429", "47.6115429", "47.6115429", "47.6115429",
                 "47.6115429", "47.618933", "47.618933"], 
     'Longitude': ["-122.3316156", "-122.3187625", "-122.3326296", "-122.3326296", "-122.3348183", "-122.3348183", "-122.3348183",
                  "-122.3348183", "-122.3348183", "-122.338819", "-122.338819"]
    }
eventos = pd.DataFrame(data=e)
eventos.start_time = pd.to_datetime(eventos.start_time)
eventos['day_year'] = eventos.start_time.dt.dayofyear
eventos.Latitude = pd.to_numeric(eventos.Latitude)
eventos.Longitude = pd.to_numeric(eventos.Longitude)

eventos.head()

,Event,start_time,Latitude,Longitude,day_year
0,IT Summit,2016-09-21,47.611823,-122.331616,265
1,Seattle Capitol Hill Block party,2016-07-22,47.614145,-122.318763,204
2,Aerospace Summit,2016-04-14,47.611543,-122.332630,105
3,Aerospace Summit,2016-04-15,47.611543,-122.332630,106
4,Pass Summit,2016-10-24,47.611543,-122.334818,298

In [3]:
eventos[['start_time','Latitude','Longitude']].duplicated().sum()

0

Fuente:

http://www.theitsummit.com/event/seattle-2016/

http://www.capitolhillblockparty.com/

http://seattle.bciaerospace.com/

https://www.pass.org/summit/2016/live.aspx

https://brewpublic.com/craft-cider/2016-cider-summit-seattle-takes-place-september-9-10/

In [4]:
import urllib.request

def dl_data(url, output):
    try:        
        f = urllib.request.urlopen(url)
        print ("Downloading " + url)

        os.makedirs(os.path.dirname(output), exist_ok=True)
        with open(output, "wb") as local_file:
            local_file.write(f.read())

    except URLError:
        print ("Error", url)

In [5]:
# Descarga de eventos de Seattle
url = "https://data.seattle.gov/api/views/cprz-jsz8/rows.csv?accessType=DOWNLOAD"
output1 = './data/City_of_Seattle_Events.csv'
dl_data(url,output1)

Downloading https://data.seattle.gov/api/views/cprz-jsz8/rows.csv?accessType=DOWNLOAD

In [6]:
# Cargamos eventos de Seattle
df_events = pd.read_csv(os.path.join("./data/City_of_Seattle_Events.csv"))
df_events.head()

,Event,Start time,End time,Building Name/Room Number,Website,Event Description/Agenda,Sponsoring Organization,Event Contact,Event Contact Position/Department,Event Contact Phone,Event Contact Email,Street Address,Latitude,Longitude,Location,Event Info Url,Classification
0,Open Call for Performance/Live Art,05/15/2016 12:00:00 AM,NaN,doesliveart.wordpress.com,https://doesliveart.wordpress.com/,This open call is looking for contemporary per...,NaN,Morgan Cahn,NaN,206-471-4178,doesliveart@gmail.com,112 3rd Ave S,47.60113,-122.32980,"(47.60113, -122.3298)",http://www.seattle.gov/living-in-seattle/event...,art
1,Keys to the Kingdom: Sea Stars and Our Coastal...,05/15/2016 10:00:00 AM,05/15/2016 05:00:00 PM,NaN,http://www.nps.gov/klse/index.htm,Please join the Klondike Gold Rush National Hi...,NaN,Klondike Gold Rush National Historical Park,NaN,NaN,NaN,319 2nd Ave S,47.59938,-122.33197,"(47.59938, -122.33197)",http://www.seattle.gov/living-in-seattle/event...,art
2,Posing Beauty in African American Culture,05/15/2016 11:00:00 AM,05/15/2016 07:00:00 PM,NaN,http://www.naamnw.org/,You&#8217;re posing for the camera. How do you...,Northwest African American Museum,Amie Newman,NaN,2065186000,info@naamnw.org,2300 S Massachusetts St,47.58874,-122.30185,"(47.58874, -122.30185)",http://www.seattle.gov/living-in-seattle/event...,art
3,Posing Beauty in African American Culture,05/15/2016 11:00:00 AM,05/15/2016 05:00:00 PM,NaN,http://www.naamnw.org/,You&#8217;re posing for the camera. How do you...,Northwest African American Museum,Amie Newman,NaN,2065186000,info@naamnw.org,2300 S Massachusetts St,47.58874,-122.30185,"(47.58874, -122.30185)",http://www.seattle.gov/living-in-seattle/event...,art
4,Open Call for Performance/Live Art,05/16/2016 12:00:00 AM,NaN,doesliveart.wordpress.com,https://doesliveart.wordpress.com/,This open call is looking for contemporary per...,NaN,Morgan Cahn,NaN,206-471-4178,doesliveart@gmail.com,112 3rd Ave S,47.60113,-122.32980,"(47.60113, -122.3298)",http://www.seattle.gov/living-in-seattle/event...,art

In [7]:
# Renombramos algunas columnas para referirnos a ellas fácilmente más adelante
df_events.rename(columns={'Start time': 'start_time', 'End time': 'end_time'}, inplace=True)

In [8]:
df_events['start_time'] = pd.to_datetime(df_events.start_time)

In [9]:
# Ordenamos por fecha
df_events.sort_values(by='start_time');

In [10]:
# Eliminamos los na de la columna start_time. Si no tienen fecha no nos interesan
df_events.dropna(subset=['start_time'], inplace=True)

In [11]:
df_events.start_time.isnull().sum()

0

In [12]:
# Vemos la descripción de la columna start_time
df_events['start_time'].describe()

count                    2856
unique                   1290
top       2016-05-21 10:00:00
freq                       19
first     2016-05-15 00:00:00
last      2018-02-13 16:00:00
Name: start_time, dtype: object

In [13]:
# Filtramos para quedarnos sólo con los eventos anteriores al 1 de enero de 2017, esto es, con los eventos del 2016
events_2016 = df_events.loc[df_events.start_time < '2017-01-01']
events_2016['start_time'].describe()

count                    2809
unique                   1249
top       2016-05-21 10:00:00
freq                       19
first     2016-05-15 00:00:00
last      2016-12-31 10:00:00
Name: start_time, dtype: object

In [14]:
# También eliminamos las filas que no tengan localización
events_2016_location = events_2016.dropna(subset=['Location'])

In [15]:
# Quitamos los duplicados, y nos quedamos sólo con las columnas que queremos y vemos los 5 primeros registros.
events_2016_unique = events_2016_location.drop_duplicates()

events_2016_clean2 =events_2016_unique.drop(columns =
                                            ['end_time', 'Building Name/Room Number', 'Website', 'Event Description/Agenda',
                                             'Sponsoring Organization', 'Event Contact', 'Event Contact Phone',
                                             'Event Contact Position/Department', 'Event Contact Email', 'Street Address',
                                             'Location', 'Event Info Url', 'Classification'])

events_2016_clean = events_2016_clean2.drop_duplicates()
events_2016_clean.head()

,Event,start_time,Latitude,Longitude
0,Open Call for Performance/Live Art,2016-05-15 00:00:00,47.60113,-122.32980
1,Keys to the Kingdom: Sea Stars and Our Coastal...,2016-05-15 10:00:00,47.59938,-122.33197
2,Posing Beauty in African American Culture,2016-05-15 11:00:00,47.58874,-122.30185
4,Open Call for Performance/Live Art,2016-05-16 00:00:00,47.60113,-122.32980
5,Keys to the Kingdom: Sea Stars and Our Coastal...,2016-05-16 10:00:00,47.59938,-122.33197

In [16]:
# El número 6 se corresponde con los domingos, fuera del horario de los parquímetros, así que los eliminamos
events_2016_without_sun = events_2016_clean.loc[events_2016_clean.start_time.dt.dayofweek != 6]
events_2016_without_sun['day_year'] = events_2016_without_sun.start_time.dt.dayofyear
events_2016_without_sun.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Event,start_time,Latitude,Longitude,day_year
4,Open Call for Performance/Live Art,2016-05-16 00:00:00,47.60113,-122.32980,137
5,Keys to the Kingdom: Sea Stars and Our Coastal...,2016-05-16 10:00:00,47.59938,-122.33197,137
6,Living Small: Ideas for Living in the City,2016-05-20 10:00:00,47.60470,-122.33739,141
7,Posing Beauty in African American Culture,2016-05-16 11:00:00,47.58874,-122.30185,137
9,The Atomic Weight of Love with Author Elizabet...,2016-05-16 19:00:00,47.66024,-122.31278,137

In [17]:
events_2016_without_sun[['Latitude','Longitude','day_year']].duplicated().sum()

171

In [18]:
events_2016_without_sun = events_2016_without_sun[['Latitude','Longitude','day_year']].drop_duplicates()

In [19]:
events_2016_without_sun.head()

   Latitude  Longitude  day_year
4  47.60113 -122.32980       137
5  47.59938 -122.33197       137
6  47.60470 -122.33739       141
7  47.58874 -122.30185       137
9  47.66024 -122.31278       137

In [20]:
#Juntamos los dos datasets de eventos que tenemos
events_c = events_2016_without_sun.append(eventos[['Latitude','Longitude','day_year']], ignore_index=True, sort=True)

In [21]:
events = events_c.sort_values(by='day_year')

In [22]:
events.duplicated().sum()

0

In [23]:
events.head()

      Latitude  Longitude  day_year
968  47.611543 -122.33263       105
969  47.611543 -122.33263       106
0    47.601130 -122.32980       137
852  47.628560 -122.33979       137
754  47.636290 -122.35922       137

In [24]:
events.to_csv('./data/Events_2016.csv', index=False)

### Mapa de eventos

In [26]:
#! pip install gmplot
from gmplot import gmplot

In [27]:
gmap8 = gmplot.GoogleMapPlotter.from_geocode("Seattle") # Si da error, cambiar número de gmap (poner gmap8 por ejemplo)

In [28]:
la=events_c['Latitude'].tolist()
lo=events_c['Longitude'].tolist()

In [29]:
lat = np.array(la, dtype=np.float32)

In [30]:
lon = np.array(lo, dtype=np.float32)

In [31]:
gmap8.scatter(lat, lon, '#DC143C', size=40, marker=False)

In [32]:
gmap8.draw("my_map1.html")

### Según el día, queremos que revise si los ek tienen algún evento cercano

In [34]:
df = pd.read_csv(os.path.join('./data/Serie_Total2016.csv'))

In [35]:
df.head()

,element_key,latitude,longitude,timestamp,paid_parking_area,day_year,occupation_perc,prcp,tmax,tmin
0,75865,47.598052,-122.326466,2016-01-02 08:00:00,Chinatown/ID,2,11.76,0.0,42,25
1,75865,47.598052,-122.326466,2016-01-02 09:00:00,Chinatown/ID,2,11.76,0.0,42,25
2,75865,47.598052,-122.326466,2016-01-02 10:00:00,Chinatown/ID,2,11.76,0.0,42,25
3,75865,47.598052,-122.326466,2016-01-02 11:00:00,Chinatown/ID,2,29.41,0.0,42,25
4,75865,47.598052,-122.326466,2016-01-02 12:00:00,Chinatown/ID,2,52.94,0.0,42,25

In [36]:
df.timestamp = pd.to_datetime(df.timestamp)

In [37]:
# Función para calcular la distancia entre dos puntos teniendo en cuenta la curvatura de la tierra (no Euclidea)
from math import radians, cos, sin, asin, sqrt, acos

def haversine(lon1, lat1, lon2, lat2):
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6373 # Radius of earth kilometers
    return c * r

In [41]:
# Creamos una nueva columna que indica si hay un evento próximo al element_key
# Una vez que un element_key tiene un punto cercano (<=100-200 metros) no es necesario revisar otros (break)
df['event'] = 0
for df_index2, df_row2 in df.iterrows():
    events_sub = events.loc[events.day_year == df_row2.day_year]
    for e_index, e_row in events_sub.iterrows():
        dist = haversine(e_row.Longitude, e_row.Latitude, df_row2.longitude, df_row2.latitude)
        if dist <= 0.15:  # 150 metros
            df.at[df_index2,'event'] = 1
            break

In [42]:
df.loc[df.event == 1].element_key.unique().size

362

In [31]:
df.to_csv('./data/Serie_Total2016_eventos100m.csv')
# Con distancia de 100 metros, hay 181 parquímetros próximos a un evento

In [43]:
df.to_csv('./data/Serie_Total2016_eventos150m.csv')
# Con distancia de 150 metros, hay 362 parquímetros próximos a un evento

In [28]:
df.to_csv('./data/Serie_Total2016_eventos200m.csv')
# Con distancia de 200 metros, hay 542 parquímetros próximos a un evento